.no_print {
	display: none;
}

.print {
	display:block;
	page-break-after: always;
}
.print:last-child {
	page-break-after: auto;
}

@media print {
    html, body {
        height: 99%;    
    }
}
/*.print:last_child {
	display:block;
	page-break-after: avoid;
}*/

/*
#top-section{display: none;}
.fineprint{display: none;}
*/