{use_macro file="Dataface_Main_Template.html"}
	{fill_slot name="main_column"}

		<h1>Post Payroll</h1>
		<br><br>

		<form name="select_period">
			<input type="hidden" name="-action" value="post_payroll">
	
			Select Payroll Period
				<select name="payroll_period">
					<option value="">Please Select...</option>
					{foreach from=$payroll_periods key=i item=period}
						<option value="{$period}" {*if $i == 0}selected="selected"{/if*}>{$payroll_periods_display[$i]}</option>
					{/foreach}
				</select>
				
			<br><br>
			
			<input type="submit" value="Submit">
			
		</form>

	{/fill_slot}
{/use_macro}