<table width="50%" class="rate_codes">
    <tr>
		<th> </th>
		<th>Regular</th>
		<th>Overtime</th>
		<th>Travel</th>
	</tr>
	
	<tr>
		<th>Technician</th>
		<td>{$elements.tech_rt.html}</td>
		<td>{$elements.tech_ot.html}</td>
		<td>{$elements.tech_tt.html}</td>
    </tr>

	<tr>
		<th>Helper</th>
		<td>{$elements.help_rt.html}</td>
		<td>{$elements.help_ot.html}</td>
		<td>{$elements.help_tt.html}</td>
    </tr>

	<tr>
		<th>Supervisor</th>
		<td>{$elements.supr_rt.html}</td>
		<td>{$elements.supr_ot.html}</td>
		<td>{$elements.supr_tt.html}</td>
    </tr>

</table>
