{use_macro file="Dataface_Main_Template.html"}
	{fill_slot name="main_column"}

		<h1>General Ledger: Close {$period_type}</h1>
		<br>

		{if $period_select}
			<p>Please Select from the Following Periods:</p>
			<form name="select_date">
				<select name="period">
					<option value="">Please Select...</option>
					{foreach from=$period_select key=i item=period}
						<option value="{$period}">{$period}</option>
					{/foreach}
				</select>
	
				<input type="submit" value="Submit">
			</form>
		{elseif $unposted}
			<p class="portalMessage">The following journal entries have not been posted. Cannot close {$period_type}</p>
			
			<table class="listing resultList">
				<tr>
					<th>ID</th>
					<th>Date</th>
					<th>Description</th>
				</tr>
				{$i = 0}
				{foreach from=$unposted item=list}
					{if $i%2 == 0}
						<tr class="listing odd">
					{else}
						<tr class="listing even">
					{/if}
						<td valign="top"><a href="index.php?-table=general_ledger&-action=browse&-recordid=general_ledger?ledger_id={$list.ledger_id}">{$list.ledger_id}</a></td>
						<td valign="top"><a href="index.php?-table=general_ledger&-action=browse&-recordid=general_ledger?ledger_id={$list.ledger_id}">{$list.ledger_date.day}-{$list.ledger_date.month}-{$list.ledger_date.year}</a></td>
						<td valign="top"><a href="index.php?-table=general_ledger&-action=browse&-recordid=general_ledger?ledger_id={$list.ledger_id}">{$list.ledger_description}</a></td>
					</tr>
					{assign var="i" value=$i+1}
				{/foreach}
			</table>			
		{/if}


		


	{/fill_slot}
{/use_macro}